.container
  %h1.logo ZenAppointments BackOffice
  %table.table.table-bordered.table.table-hover.table-striped
    %tr
      %td
        %strong
          Accounts:
      %td
        =@accounts_cnt
    %tr
      %td
        %strong
          Users:
      %td
        =@users_cnt
    %tr
      %td
        %strong
          Clients:
      %td
        =@clients_cnt
    %tr
      %td
        %strong
          Appointments:
      %td
        =@appointments_cnt
